.header {
  background-color: var(--brand-color-gray-700);
  padding: 7.2rem var(--gap-default) 8rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.header span {
  font-size: 4rem;
  font-weight: 900;
  line-height: 4.8rem;
  color: var(--brand-color-blue-500);
}

.header span:last-child {
  color: var(--brand-color-purple-900);
}
