:root {
  --brand-font: "Inter", "sans-serif";

  --brand-color-purple-500: #8284FA;
  --brand-color-purple-900: #5E60CE;

  --brand-color-blue-500: #4EA8DE;
  --brand-color-blue-900: #1E6F9F;

  --brand-color-blue-opacity-40: rgba(78, 168, 222, 0.4);

  --brand-color-danger: #E25858;

  --brand-color-white: #ffffff;

  --brand-color-gray-100: #F2F2F2;
  --brand-color-gray-200: #D9D9D9;
  --brand-color-gray-300: #808080;
  --brand-color-gray-400: #333333;
  --brand-color-gray-500: #262626;
  --brand-color-gray-600: #1A1A1A;
  --brand-color-gray-700: #0D0D0D;
}

*,
*::before,
*::after {
  font-family: var(--brand-font);
  font-weight: 400;
  font-size: 1.6rem;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--brand-color-gray-600);
  color: var(--brand-color-gray-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
}

::-webkit-scrollbar {
  width: 1.8rem;
}

::-webkit-scrollbar-thumb {
  background: var(--brand-color-blue-900);
  border-right: 0.4rem solid var(--brand-color-gray-600);
  border-left: 0.4rem solid var(--brand-color-gray-600);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: var(--brand-color-gray-600);
}

:focus {
  outline: none;

  box-shadow:
    0 0 0 2px var(--brand-color-blue-500),
    0 0 0 6px var(--brand-color-blue-opacity-40);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@media (max-width: 768px) {
  html {
    font-size: 54.6875%;
  }
}
